{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_header.html.twig') }}

    <form action="{{ path('allergy_store') }}" method="post">
        <h1 class="m-4 text-center">Vos allergies</h1>
        <div class="container container-allergy">
            {% for ingredient in ingredients %}
                <div class="row-container row-container-allergy">
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="allergies[]"
                            value="{{ ingredient.id }}"
                            id="{{ ingredient.id }}"
                            {% if ingredient.id in allergies %} checked {% endif %}
                        />
                        <label
                            class="form-check-label"
                            for="{{ ingredient.id }}"
                        >
                            {{ ingredient.name }}
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="my-3 text-center">
            <input type="submit" class="btn btn-primary" value="Sauvegarder">
        </div>
    </form>
{% endblock %}
