{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_header.html.twig') }}

    <h3 class="m-4 text-center">Commande en cours de préparation</h3>
    <div class="row-container">
        <img href="{{ pizza.photo }}" alt="{{ pizza.name }}"/>
        <div>{{ pizza.name }}</div>
        <div>
            {% for ingredient in pizza.ingredients %}
                <span class="badge {% if ingredient.id in allergies %}
                                        bg-danger
                                   {% else %}
                                        bg-light text-dark
                                   {% endif %}"
                >
                    {{ ingredient }}
                </span>
            {% endfor %}
        </div>
        <div class="nowrap">
            € {{ pizza.ingredients|reduce((carry, v) => carry + v.price) }}.00
        </div>
    </div>
{% endblock %}
